<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <app-header-item [title]="title" imgSrc="Computer-Wolf-logo.jpg"></app-header-item>
  <div class="content">
    <div class="left-side">
      <div class="category-menu">
        <app-menu-item name="Startseite" link=""></app-menu-item>
        <app-menu-item name="" link=""></app-menu-item>
        @for (item of dataCategory; track item.name) {
        <app-menu-item name="{{ item.name }}" link="{{ item.link }}"></app-menu-item>
        }
        <app-menu-item name="" link=""></app-menu-item>
        <app-menu-item name="Impressum" link=""></app-menu-item>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="middle-side">
      <p>Hallo Besucher!</p>
      @for (item of dataProducts; track item.name) {
      <app-product [name]="item.name" [description]="item.description" [price]="item.price"></app-product>
      }
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
        { title: 'Explore the Docs', link: 'https://angular.dev' },
        { title: 'Learn with Tutorials', link: 'https://angular.dev/tutorials' },
        { title: 'Angular Language Service', link: 'https://angular.dev/tools/language-service' }
        ]; track item.title) {
        <a class="pill" [href]="item.link" target="_blank" rel="noopener">
          <span>{{ item.title }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
          </svg>
        </a>
        }
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />