<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <app-header-item [title]="title" imgSrc="Computer-Wolf-logo.jpg" (imageClicked)="clearDataProducts()">
  </app-header-item>
  <div class="content">
    <div class="left-side">
      <div class="category-menu">
        <app-menu-item name="Startseite" link="" (categoryClicked)="clearDataProducts()"></app-menu-item>
        <app-menu-item name="" link=""></app-menu-item>
        <app-menu-item name="Alle Produkte" link="" (categoryClicked)="getAllProducts()"></app-menu-item>
        @for (item of dataCategory; track item.name) {
        <app-menu-item name="{{ item.name }}" link="{{ item.link }}"
          (categoryClicked)="getCategoryProducts(item.id)"></app-menu-item>
        }
        <app-menu-item name="" link=""></app-menu-item>
        <app-menu-item name="Impressum" link="" (categoryClicked)="onImpressumClick()"></app-menu-item>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="middle-side">
      <h2>{{headline}}</h2>
      <p [innerHTML]="message"></p>
      <div class="product-list" *ngIf="displayContent==='product'">
        @for (item of dataProducts; track item.name) {
        <app-product [name]="item.name" [description]="item.description" [price]="item.price" [quantity]="item.stock"
          (addToCardClicked)="addToCard(item)"></app-product>
        }
      </div>
      <div class="account-list" *ngIf="displayContent==='account'">
        <app-account-item></app-account-item>
      </div>
      <div class="card-list" *ngIf="displayContent==='card'">
        @for (item of card; track item.name) {
        <app-card-item [name]="item.name" [price]="item.price" [quantity]="item.quantity"
          (removeFromCardClicked)="removeFromCard(item)"></app-card-item>
        }
        <div class="total-price">
          <p>Gesamtpreis: {{ totalPrice }}€</p>
          <button class="buy-button">Bezahlen</button>
        </div>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
        { title: 'Login'},
        { title: 'Account'},
        { title: 'Warenkorb', count: card.length }
        ]; track item.title) {
        <a class="pill" (click)="pillClick(item.title)">
          <span>{{ item.title }}</span>
          <span *ngIf="item.count"> ({{ item.count }})</span>
        </a>
        }
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />