<div class="product-card">
    <div class="product-image">
        <img src="PC.jpg" alt="Bild" />
    </div>
    <div class="product-details">
        <h3>{{ name }}</h3>
        <p>{{ description }}</p>
        <p>{{ price }}€</p>
    </div>
    <div class="product-actions">
        <p>{{ quantity }} verfügbar</p>
        <button class="add-to-cart" [class.disabled]="quantity === 0" [disabled]="quantity === 0"
            (click)="onAddToCardClick()">
            In den Warenkorb
        </button>
    </div>
</div>