.product-card {
    border: 1px solid var(--gray-400);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.product-card h3 {
    margin: 0;
}

.product-actions {
    margin-left: auto;
    align-self: flex-end;
}

.product-actions p {
    padding: 8px;
    margin: 0;
    color: var(--gray-400);
    text-align: end;
}

button {
    background-color: var(--dark-blue);
    color: var(--gray-light);
    border: none;
    padding: 8px 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--bright-blue);
}